.root-folder {
  list-style-type: none;
  padding-left: 0px;
}

.non-root-folder {
  list-style-type: none;
  padding-left: 20px;

  transition: all 0.2s ease-out;
  opacity: 0;
}

.non-root-folder.show {
  opacity: 1;
}

.node-container {
  margin: 5px 0;
}

.node {
  display: flex;
  padding: 5px;
  border-radius: 5px;
}

.node.node-selected {
  border: orangered 4px solid;
}

.node-color-remote {
  transition: all 0.4s ease-out;
  background: lightgreen;
  border: lightgreen 4px solid;
}
.node-color-local {
  transition: all 0.4s ease-out;
  background: lightcoral;
  border: lightcoral 4px solid;
}
.node-color-both {
  transition: all 0.4s ease-out;
  background: aliceblue;
  border: aliceblue 4px solid;
}

.folder-node {
}

.file-node {
}

.node-content {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.node-content-left {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
}

.node-content-right {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.node-content-title-line {
  display: flex;
}

.node-content-action-line {
  display: flex;
}

.node-element {
  padding: 0 5px;
}

.node-properties {
  display: flex;
  flex-grow: 1;
}

.node-title {
  font-size: 15px;
  max-width: 400px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  z-index: 1;
}

.node-title:hover {
  overflow: visible;
}

.node-title:hover b {
  border-radius: 5px;
  background-color: black;
  color: antiquewhite;
  padding: 3px;
  margin-left: -3px;
  margin-right: -3px;
}

.node-icon {
  width: 50px;
}

.folder-loader {
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.folder-loader.show {
  display: flex;
}
